examples/flows/http-html-templating.json
[
  {
    "id": "5b98a8ac.a46758",
    "type": "http in",
    "z": "3045204d.cfbae",
    "name": "",
    "url": "/hello-form",
    "method": "post",
    "swaggerDoc": "",
    "x": 120,
    "y": 820,
    "wires": [
      [
        "bba61009.4459f"
      ]
    ]
  },
  {
    "id": "bba61009.4459f",
    "type": "template",
    "z": "3045204d.cfbae",
    "name": "page",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "<html><body><h1>Hello {{ payload.name }}!</h1></body></html>",
    "x": 290,
    "y": 820,
    "wires": [
      [
        "6ceb930a.93146c"
      ]
    ]
  },
  {
    "id": "6ceb930a.93146c",
    "type": "http response",
    "z": "3045204d.cfbae",
    "name": "",
    "x": 430,
    "y": 820,
    "wires": []
  }
]
