examples/flows/http-html-templating.json
[
  {
    "id": "source.a46758",
    "type": "http in",
    "url": "/hello-form",
    "method": "post",
    "wires": [
      [
        "transformation.4459f"
      ]
    ]
  },
  {
    "id": "transformation.4459f",
    "type": "template",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "<html><body><h1>Hello {{ payload.name }}!</h1></body></html>",
    "wires": [
      [
        "sink.93146c"
      ]
    ]
  },
  {
    "id": "sink.93146c",
    "type": "http response",
    "wires": []
  }
]
