examples/flows/http-html-templating.json
[
  {
    "id": "source.a46758",
    "type": "http in",
    "url": "/hello-form",
    "method": "post",
    "wires": [
      [
        "transformation.4459f",
        "debugging.b01683"
      ]
    ]
  },
  {
    "id": "transformation.4459f",
    "type": "template",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "<html><body><h1>Hello {{ payload.name }}!</h1></body></html>",
    "wires": [
      [
        "sink.93146c"
      ]
    ]
  },
  {
    "id": "sink.93146c",
    "type": "http response",
    "wires": []
  },
  {
    "id": "debugging.b01683",
    "type": "function",
    "name": "Debugging",
    "info": "A basic debugging node to demonstrate the lifecycle of a flow.",
    "outputs": 1,
    "noerr": 0,
    "initialize": "console.log(\"http-html-templating: start\");\n",
    "func": "console.log(\"http-html-templating: message\");\nconsole.log(msg.req.body);\nreturn msg;\n",
    "finalize": "console.log(\"http-html-templating: stop\");\n",
    "libs": [],
    "wires": [
      []
    ]
  }
]
